.browserbox {
  width: 100%;
  height: 40px;
	background: #f4f4f4;
}

.browserbox .browser {
  margin-top: 9px;
  margin-left: 2%;
}

.container {
  display: flex;  
  flex-flow: row wrap;

  position: relative;
  padding: 2%;
  box-sizing: border-box;
  height: 600px;
}

.container .resultsbox {
  display: flex;
  flex-flow: row wrap;

  width: 50%;
  box-sizing: border-box;
}

.container .resultsbox .result {
  margin: 1% 0;
  height: 150px;
  width: 100%;
  background:#eee;
  border-radius: 5px;
  font-family: tahoma;

  display: flex;
  flex-flow: row nowrap;  
  align-items: center;
  justify-content: center;
}

.container .resultsbox .result .imgbox {
  width: 30%;
  height: 150px;
  box-sizing: border-box;

}

.container .resultsbox .result .imgbox img {
  height: 100%;
  width: 100%;
  object-fit: contain;

}

.container .resultsbox .result .description {
  
  width: 70%;
  padding: 1%;
  box-sizing: border-box;
  line-height: 2em;

  padding: 3%;
  padding-top: 0;
    
}


.container .resultsbox .result .description h3{
  font-size: 12px;
  font-weight: bold;
}  


.container .resultsbox .result .description h2{
  font-size: 16px;
  font-weight: bold;
}  

.container .resultsbox .result .description p{
  font-size: 14px;
}  

.container .mapbox {
  float: right;
  padding: 0.5%;
  width: 50%;
  height: 450px;
  box-sizing: border-box;
}

.container .mapbox iframe {
  object-fit: fill;
  height: 100%;
  width:100%;
}

@media screen and (max-width: 800px) {
	.container .mapbox{
		display: none;
  }
  .container .resultsbox{
    width: 100%;
    flex-flow: row wrap;
  }
  .container .resultsbox .result{
    width: 48%;
 
  }

}